header {
    padding-bottom: 50px;
    background-color: #CCCCCC;
}
.titulo-principal{
    padding-top: 30px;
    padding-left: 60px;
    font-weight: bold;
}
nav {
    position: absolute;
    top: 50px;
    left: 30%;
}
nav li{
    /* Coloca la lista en formato corrido uno despues de otro */
    display: inline;
    /* Agrega margen entre cada elemento de la lista */
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: cadetblue;
    font-size: 25px;
    text-decoration: underline;
}
#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

#ul-desc{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

