header nav{

}
.titulo-principal{
    padding-left: 30px;
}
nav {
    width: 940px;
    margin: 0 auto;
}
nav li{
    /* Coloca la lista en formato corrido uno despues de otro */
    display: inline-block;
    /* Agrega margen entre cada elemento de la lista */
    margin: 0 0 0 15px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

